### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# 도커
/docker/

### 환경 변수 및 설정 파일 ###
#.env
#*.properties
#application.yaml

### Eclipse / Spring Tool Suite (STS) ###
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

### VS Code ###
.vscode/

### macOS ###
.DS_Store

### 불필요한 기본 문서 제거 ###
HELP.md
