services:
  mysql:
    image: mysql:latest
    ports:
      - '3306:3306'
    environment:
      MYSQL_DATABASE: 'security-jwt-template'
      MYSQL_ROOT_PASSWORD: 'root'
    # volumes:
    #   - ./mysql/data:/var/lib/mysql

  redis:
    image: redis:latest
    ports:
      - '6379:6379'
